<app-cabecera></app-cabecera>

<div class="card flex justify-content-center">


  <p-panel header="Parametros del cultivo">

    <div class="card flex justify-content-center">
      <img src="../../assets/imagenes/{{ this.sidebarService.cultivoSeleccionado.imagen }}" [alt]="this.sidebarService.cultivoSeleccionado.imagen" class="w-6rem h-6rem shadow-2"  />
    </div>

    <div class="card flex justify-content-center ">

      <p-dropdown [options]="this.sidebarService.cultivosDisponibles" [(ngModel)]="this.sidebarService.cultivoSeleccionado" optionLabel="Nombre" [style]="{'width': '100%', 'margin-top': '20px'}" ></p-dropdown>

    </div>
    <p-panel header="Parametros de la solucion">

      <div class="card">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    </p-panel>

  </p-panel>

</div>
