


<p-sidebar [(visible)]="this.cultivosService.sidebarVisible" >

  <div class="card flex justify-content-center">
    <ng-container *ngIf="this.cultivosService.cultivoSeleccionado?.imagen">
      <img
        src="../../assets/imagenes/{{ this.cultivosService.cultivoSeleccionado.imagen }}"
        [alt]="this.cultivosService.cultivoSeleccionado.imagen"
        class="w-6rem h-6rem shadow-2"
      />
    </ng-container> </div>

  <div class="card flex justify-content-center ">

    <p-dropdown [options]="this.cultivosService.cultivosDisponibles" [(ngModel)]="this.cultivosService.cultivoSeleccionado" optionLabel="Nombre" [style]="{'width': '100%', 'margin-top': '20px'}" ></p-dropdown>

  </div>
  <div style="margin-top: 20px; border-top: 2px solid #2d2d2d;"></div>
  <div class= ""></div>
  <div class="sidebar-content margin-top: 20px">
    <p-menu [model]="items" [style]= "{'width':'100%' , 'margin-top': '20px' }"></p-menu>
  </div>
</p-sidebar>
