<p-toast></p-toast>
<div style=" display: flex; justify-content: center; width: 100%; margin-top: 10px;">
  <p-panel header="Cultivos en marcha" [style]="{  width: '900px'  }">

  <div *ngIf="this.cultivoActivoSeleccionado" class="display: flex; flex-direction: column; align-items: center;">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="1" [totalRecords]="this.cultivos ? this.cultivos.length : 0"></p-paginator>
    <p-card [style]="{ border: '1px solid #2d2d2d', position: 'relative' }" >
      <div style="display: flex; flex-direction: row;">
        <h2>Cultivo: {{ this.cultivoActivoSeleccionado.Nombre }}</h2>

        <div style=" justify-content: flex-end; margin-left: 300px;">
          <!-- <i class="pi pi-trash clickable-icon" (click)="2"></i>
          <i class="pi pi-plus clickable-icon" (click)="2"></i> -->
          <i class="pi pi-bell mr-4 p-text-secondary clickable-icon" (click)="2" pBadge style="font-size: 2rem" value="2"></i>
          <i class="pi pi-calendar mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="10" severity="danger"></i>
          <i class="pi pi-envelope p-text-secondary" pBadge style="font-size: 2rem" severity="danger"></i>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between; ">
        <div style="display: flex; flex-direction: column; align-items: center; width: 25% ">
          <div style="margin-top: 20px;" ></div>
            <div *ngIf= "cargando_imagen == true; else imagen">
              <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </div>
            <ng-template #imagen>


              <p-image  src="http://localhost:3000/imagenes/{{ this.cultivosService.datosCultivoActuales.imagen }}" [alt]="this.cultivosService.datosCultivoActuales.imagen" height="120px" width="120px" [preview]="true"></p-image>
            </ng-template>
          <div style="margin-top: 20px;"></div>
          <a (click)="actualizaImagen(this.cultivoActivoSeleccionado.id_cultivo)" (mouseover)="op.toggle($event)" (mouseout)="op.toggle($event)" style="display: flex; align-items: center; font-size: 1.2rem; color: #4da0ff; cursor: pointer;" >
            <i class="pi pi-eye" style="margin-right: 5px;"></i>
            Actualizar foto
          </a>
          <p-overlayPanel #op [style]="{background: '#dcdcdc'}">
              Ultima actualizacion: {{ this.cultivosService.datosCultivoActuales.fecha }}
          </p-overlayPanel>

        </div>

        <div style="display: flex; flex-direction: column; align-items: center; width: 10%; margin-right: 90px; height: 10%; ; border-radius: 10px; background-color: #dcdcdc; padding: 10px;">
          <h3>DIA:</h3>
          <h1>{{ this.cultivosService.datosCultivoActuales.dias_transcurridos }}</h1>
         <div class="vertical-line"></div>
        </div>


        <div style="display: flex; flex-direction: column; align-items: center; width: 25%; border-radius: 10px; background-color: #d7efcc; padding: 10px;">
          <h4 style="margin: 0; line-height: 3;">Solución nutritiva:</h4>
          <p style="margin: 0; line-height: 2;">Temperatura: {{ this.cultivosService.datosCultivoActuales.temperatura }} °C</p>
          <p style="margin: 0; line-height: 2;">Humedad: {{ this.cultivosService.datosCultivoActuales.humedad }} %</p>
          <p style="margin: 0; line-height: 2;">pH: {{ this.cultivosService.datosCultivoActuales.pH }}</p>

          <div style="border-radius: 10px;  background-color: #0bd741; padding: 10px;" >
            <p-confirmPopup></p-confirmPopup>
            <p style="margin: 0; line-height: 2;">EC: {{ this.cultivosService.datosCultivoActuales.EC }}
              <a (click)="verActualizarEC()" (mouseover)="infoEC.toggle($event)" (mouseout)="infoEC.toggle($event)" style="font-size: 1.2rem; color: #0000fb; cursor: pointer;" >
                <i class="pi pi-pencil" style="margin-right: 5px;"></i>
              </a>
            </p>
            <p-overlayPanel #infoEC [style]="{background: '#dcdcdc'}">
              Ultima actualizacion: {{ this.cultivosService.datosCultivoActuales.fecha_EC }}
            </p-overlayPanel>
            <p-dialog header="Actualizar valor de salinidad EC" [(visible)]="visibleEditarEC" [style]="{width: '50vw'}">

              <p-inputNumber [(ngModel)]="this.cultivosService.datosCultivoActuales.EC" mode="decimal"></p-inputNumber>
              <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="actualizaEC(this.cultivoActivoSeleccionado.id_cultivo)" label="Actualizar"></button>
              </p-footer>
            </p-dialog>

          </div>

        </div>

        <!-- Atributos de Temp y Hum a la derecha -->

        <div style="display: flex; flex-direction: column; align-items: center; width: 25%; border-radius: 10px; background-color: #d7efcc; padding: 10px;">
          <h4 style="margin: 0; line-height: 3;">Ambientales:</h4>
          <p style="margin: 0; line-height: 2;">Temperatura: {{ this.cultivosService.datosCultivoActuales.temperatura }} °C</p>
          <p style="margin: 0; line-height: 2;">Humedad: {{ this.cultivosService.datosCultivoActuales.humedad }} %</p>
          <p style="margin: 0; line-height: 2;">luminosidad: {{ this.cultivosService.datosCultivoActuales.luminosidad }}</p>
        </div>
      </div>
    </p-card>

  </div>


  </p-panel>
</div>
