
<div style=" display: flex; justify-content: center; width: 100%; margin-top: 10px;">
  <p-panel header="Cultivos en marcha" [style]="{  width: '900px'  }">

  <div class="display: flex; flex-direction: column; align-items: center;">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="1" [totalRecords]="this.cultivos.length" ></p-paginator>



    <p-card [style]="{ border: '1px solid #2d2d2d' }" >


      <!-- Iconos en la esquina superior derecha -->
      <div style="display: flex; flex-direction: row; justify-content: flex-end; ">

        <!-- <i class="pi pi-trash clickable-icon" (click)="2"></i>
        <i class="pi pi-plus clickable-icon" (click)="2"></i> -->

        <i class="pi pi-bell mr-4 p-text-secondary clickable-icon" (click)="2" pBadge style="font-size: 2rem" value="2"></i>
        <i class="pi pi-calendar mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="10" severity="danger"></i>
        <i class="pi pi-envelope p-text-secondary" pBadge style="font-size: 2rem" severity="danger"></i>

      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-between; ">
        <div style="display: flex; flex-direction: column; align-items: center; width: 25% ">

          <a (click)="visualizarCultivo()" style="display: flex; align-items: center; font-size: 1.2rem; color: #4da0ff; cursor: pointer;">
            <i class="pi pi-eye" style="margin-right: 5px;"></i>
            Ver cultivo
          </a>
          <div style="margin-top: 20px;"></div>
          <img src="../../assets/imagenes/{{ this.cultivoActivoSeleccionado.imagen }}" [alt]="this.cultivoActivoSeleccionado.imagen" class="w-6rem h-6rem shadow-2"/>
          <div style="margin-top: 20px;"></div>
          {{ this.cultivoActivoSeleccionado.Nombre }}

        </div>

        <div style="display: flex; flex-direction: column; align-items: left; width: 25% ">

          <h1>DIA:</h1>

        </div>

        <!-- Atributos de PH y EC a la derecha -->

        <div style="display: flex; flex-direction: column; align-items: center; width: 25% ">
          <div></div>
          <div>{{ this.cultivoActivoSeleccionado.rango_pH_max }}</div>
          <div>{{ this.cultivoActivoSeleccionado.rango_CE_min }}</div>
        </div>

        <!-- Atributos de Temp y Hum a la derecha -->

        <div style="display: flex; flex-direction: column; align-items: center; width: 25% ">
          <div>{{ this.cultivoActivoSeleccionado.rango_humedad_max }}</div>
          <div>{{ this.cultivoActivoSeleccionado.rango_temperatura_SN_min }}</div>
        </div>
      </div>
    </p-card>

  </div>


  </p-panel>
</div>
