

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barra Superior</title>
  <style>
    /* Estilos para la barra superior */
    header {
      background-color: #006FAD  ; /* Color de fondo */
      color: black; /* Color del texto */
      padding: 10px; /* Espaciado interno */
    }

  </style>
</head>
<body>
  <header>
    <nav>

      <div style="display: flex; justify-content: space-between;  ; padding: 5px;">
        <div style="align-self: flex-start;">
          <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"  [style]="{background: 'black' }" ></p-button>
            <p-sidebar [(visible)]="sidebarVisible">

              <div class="card flex justify-content-center">
                <p-toast></p-toast>
              <!-- <p-menu [model]="items"></p-menu> -->
              </div>



            </p-sidebar>
        </div>

        <div style="align-self: center; display: flex; justify-content: space-between;  ; padding: 5px;">

          <img src="../../assets/imagenes/iconoApp.png" alt="Icono" width="45" height="45" style="align-self: auto;" >
          <div style="align-self: center; margin-left: 10px;">
            <h1>  Hidroponic App</h1>
          </div>
        </div>

        <div style="align-self: flex-start;">
          <p-button label="salir" icon="pi pi-sign-out" (click)="logOut()" [style]="{background: 'black' }" ></p-button>
        </div>
      </div>

    </nav>
  </header>

  <!-- Resto del contenido de la página -->
  <div>
    <!-- Aquí va el resto de tu contenido -->
    <h1>Contenido de la página</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </div>
</body>
</html>





