

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barra Superior</title>
  <style>
    /* Estilos para la barra superior */
    header {
      background-color: #006FAD  ; /* Color de fondo */
      color: black; /* Color del texto */
      padding: 10px; /* Espaciado interno */
    }

  </style>
</head>
<body>
  <header>
    <nav>

      <div style="display: flex; justify-content: space-between;  ; padding: 5px;">
        <div style="align-self: flex-start;">
          <p-button (click)="this.sidebarService.sidebarVisible = !this.sidebarService.sidebarVisible" icon="pi pi-arrow-right"></p-button>
          <app-sidebar> </app-sidebar>
        </div>

        <div style="align-self: center; display: flex; justify-content: space-between;  ; padding: 5px;">

          <img src="../../assets/imagenes/iconoApp.png" alt="Icono" width="45" height="45" style="align-self: auto;" >
          <div style="align-self: center; ">
             <p-button (click)="home()"  [text]="true" styleClass="my-custom-button"  [style]="{color: 'black'} "> <h1>Hidroponic App</h1> </p-button>
          </div>
        </div>

        <div style="align-self: flex-start;">
          <p-button label="salir" icon="pi pi-sign-out" (click)="logOut()" [style]="{background: 'black' }" ></p-button>
        </div>
      </div>

    </nav>
  </header>

  <!-- Resto del contenido de la página -->

</body>
</html>





